body {
  padding: 0;
  background-color: #d1d8e0;
}

.questions {
  display: block;
  margin: 20px auto;

  padding: 20px;

  border: 1px solid red;
  border-radius: 5px;
  margin-bottom: 30px;
  box-shadow: 5px 10px 8px 10px #888888;
  
}
.form_askqn {
  display: block;
  text-align-last: center;
}
form input[type="text"] {
  width: 480px;
  height: 30px;
  margin-bottom: 0px;
}
form button {
  width: 100px;
  height: 36px;
  outline: none;
  font-weight: bold;
  background: seagreen;
  border: 0;
}
.clearfix {
  overflow: auto;
  margin: 20px auto;
}

.btn_askqn {
  float: right;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}
.login-nav a:hover {
  background-color: #2bcbba;
  color: white;
  padding: 10px;
}
.login-nav {
  text-align: right;
  padding: 10px;
  border: 5px;
}

.askquestion {
  display: inline-block;
  text-align: left;
  padding: 0;
  border: 0;
}
.askquestion input {
  width: 150%;
  height: 20px;
}
.questions {
  text-align: center;
  width: 600px;
  border: 1px;
  padding: 0;
}
.questions p {
  border: 1px;
  width: 100%;
  border-radius: 10px;
  border-color: #2bcbba;
}
.questions a:hoover {
  background-color: #45aaf2;
  padding: 40px;
}
.footer {
  position: absolute;
  float: right;
  height: 4em;
}
